.banner {
  padding: 260px 0 100px 0;
  background: linear-gradient(90.21deg, black -5.91%, #000010 111.58%);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: max-content;
}

.banner .tagline {
  font-weight: bold;
  letter-spacing: 0.8px;
  padding: 8px 8px;
  background: #97b9fc;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 15px;
  margin-top: 0;
  margin-left: 25%;
  display: inline-block;
}

.imagehome{
  height: 200px;
  width: 200px;
  align-items: center;
  margin-left: 130px;
}

.banner h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: white;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.tagline:hover {
  background-color: #0056b3;
  color: white;
}

.banner img {
  width: 100%;
  max-width: 500px;
  margin-left: 5%;
}
.left{
  margin-top: 80px;
}

